.buttons-display {
  display: flex;
  gap: 20px;
  padding: 0 35px 35px 35px;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #374151;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 25px;
  border: 1px solid #D1D5DB;
  display: flex;
  gap: 10px;
  width: 120px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.linkedin-button {
  background-color: #5093e2;
  color: #fff;
  border: none;
  align-items: flex-end;
  padding: 10px 20px 10px 15px;
}

.mail-button {
  width: 250px;
  justify-content: center;
}
